<article class="post">
    <header>
        <h2 class="post-title">
            <p>Lorem ipsum dolor sit.
            </p>
        </h2>
    </header>
    <div class="post-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident eum nostrum asperiores dolor incidunt
        inventore quae! Ipsa, ducimus! Ut perspiciatis accusantium saepe. A quasi cum adipisci, ex dolor reiciendis
        tempora atque, sint id mollitia ad harum nemo excepturi quibusdam odio ab? Dolorem debitis tempora dolores animi
        laboriosam fuga sunt!
    </div>
</article>