{% extends 'global/base.html' %}

{% block texto %}
{{text}}
{% endblock texto %}

{% block Posts %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% include 'global/partials/post_block.html' %}
{% endblock Posts %}